<% include ../common/header.tpl.ejs %>
	<div class="index">
		<div class="common-top clear-float">
			<div class="company-img">
				<img src="assets/images/login_logo.png" alt="" class="index-logo-img">
				<span class="span-line"></span>
				<span class="font-18">系统管理</span>
			</div>
			<div class="user-mess">
				<span class="font-18">登录</span>
				<span class="font-18">注册</span>
			</div>
		</div>
		<div class="common-bottom">
			<div class="common-left">
				<ul class="left-list">
					<li><i class="icon-cog"></i><a href="#">商品管理</a></li>
					<li><i class="icon-cog"></i><a href="#">进货管理</a></li>
					<li><i class="icon-cog"></i><a href="#">月末盘点表</a></li>
					<li><i class="icon-cog"></i><a href="#">统计管理</a></li>
					<li><i class="icon-cog"></i><a href="#">个人管理</a></li>
				</ul>
			</div>
			<div class="common-right">
				<p class="mana-name font-24">商品管理</p>
				<div class="select-classify">
					
				</div>
				<table class="goods-table">
					<tr>
						<td class="goods-name">商品名字</td>
						<td>单位</td>
						<td>商品图片</td>
						<td>进价</td>
						<td>卖价</td>
						<td>类别</td>
						<td>剩余数量</td>
						<td>更新时间</td>
						<td>是否显示</td>
						<td>操作</td>
					</tr>
					<tr>
						<td class="goods-name">商品名字</td>
						<td>单位</td>
						<td>商品图片</td>
						<td>进价</td>
						<td>卖价</td>
						<td>类别</td>
						<td>剩余数量</td>
						<td>更新时间</td>
						<td>是否显示</td>
						<td>操作</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	

<script type="text/javascript" src="/vendor/require.js" data-main="/assets/js/index.js"></script>
<% include ../common/footer.tpl.ejs %>