<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>require-seed-project</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
	<div class="common-top clear-float">
		<div class="company-img">
			<img src="assets/images/login_logo.png" alt="" class="index-logo-img">
			<span class="span-line"></span>
			<span class="font-18">系统管理</span>
		</div>
		<div class="user-mess">
			<span class="font-14">登录</span>
			<span class="font-14">注册</span>
		</div>
	</div>
	<div class="common-left">
		<ul class="left-list font-14">
			<li class="active"><i class="icon-cog"></i><a href="/index">商品管理</a></li>
			<li><i class="icon-cog"></i><a href="#">进货管理</a></li>
			<li><i class="icon-cog"></i><a href="#">月末盘点表</a></li>
			<li><i class="icon-cog"></i><a href="#">统计管理</a></li>
			<li><i class="icon-cog"></i><a href="#">个人管理</a></li>
		</ul>
	</div>