<% include ../common/header.tpl.ejs %>
	<div class="register">
		<div class="register-content">
			<img src="assets/images/login_logo.png" alt="">
			<div class="input-content input-wrap">
				<div class="input-line">
					<i class="icon-user-tie font-18"></i>
					<input type="text" placeholder="请输入用户名">
				</div>
				<div class="input-line">
					<i class="icon-lock font-18"></i>
					<input type="password" placeholder="请输入密码">
				</div>
				<div class="input-line">
					<i class="icon-phone font-18"></i>
					<input type="text" placeholder="请输入电话号码">
				</div>
				<div class="submit-btn"> 注 册</div>
			</div>
		</div>
	</div>
<% include ../common/footer.tpl.ejs %>