<% include ../common/header.tpl.ejs %>
	<div class="common-right add-goods-manager">
		<ul class="bread-list font-12 clear-float">
			<li><a href="#">商品管理</a></li>
			<li><a href="#">商品添加</a></li>
		</ul>	
		<div class="manager-operate">
			
			<p class="font-18 little-title">商品添加</p>
		</div>
		<div class="add-goods-content">
			<div class="input-group">
				<span class="font-16">商品名称：</span>
				<input type="text" placeholder="请输入商品名称">
			</div>
			<div class="input-group">
				<span class="font-16">单位：</span>
				<input type="text" placeholder="请输入商品名称">
			</div>
			<div class="input-group">
				<span class="font-16">进价：</span>
				<input type="text" placeholder="请输入商品名称">
			</div>
			<div class="input-group">
				<span class="font-16">卖价：</span>
				<input type="text" placeholder="请输入商品名称">
			</div>
			<div class="input-group">
				<span class="font-16">类别：</span>
				<input type="text" placeholder="请输入商品名称">
			</div>
			<div class="input-group">
				<span class="font-16">剩余数量：</span>
				<input type="text" placeholder="请输入商品名称">
			</div>
			<div class="input-group">
				<span class="font-16">是否显示：</span>
				<input type="radio" value="是"  name="isShow" class="radio-input"><span>是</span>
				<input type="radio" value="否" name="isShow" class="radio-input"><span>否</span>
			</div>
			<div class="goods-oper-btn font-14 add-operate">
				 提交
			</div>
			<div class="goods-oper-btn font-14 add-operate">
				取消
			</div>
		</div>
	</div>
<% include ../common/footer.tpl.ejs %>
